<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>435674290079-57ib7osta1icdo8gfkelkvjcs2tdo1rg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435674290079-57ib7osta1icdo8gfkelkvjcs2tdo1rg</string>
	<key>API_KEY</key>
	<string>AIzaSyBBlD21aVDexL7244ZHpBdJ-BYsvwzenEg</string>
	<key>GCM_SENDER_ID</key>
	<string>435674290079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>FaceTheFacts</string>
	<key>PROJECT_ID</key>
	<string>facethefacts-cd090</string>
	<key>STORAGE_BUCKET</key>
	<string>facethefacts-cd090.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435674290079:ios:2770bb736fcd99aee48faa</string>
	<key>FIREBASE_ANALYTICS_COLLECTION_DEACTIVATED</key>
	<true />
	<key>FIREBASE_ANALYTICS_COLLECTION_ENABLED</key>
	<false />
	<key>FirebaseDataCollectionDefaultEnabled</key>
	<false/>
	<key>GOOGLE_ANALYTICS_IDFV_COLLECTION_ENABLED</key>
	<false />
	<key>GOOGLE_ANALYTICS_DEFAULT_ALLOW_AD_PERSONALIZATION_SIGNALS</key>
	<false />
	<key>firebase_performance_collection_deactivated</key>
	<true />
	<key>FirebaseScreenReportingEnabled</key>
	<false />
</dict>
</plist>